@mixin marPad() {
    margin: 0.5em;
    padding: 0.5em;
}

@mixin textColor() {
    color: white;
}

#sum-of-rolls {
    font-size: 25px;
    @include marPad();
    @include textColor();
    display: block;
}

#show-all-rolls {
    @include marPad();
    border: 1px black solid;
    @include textColor();
}

#number-of-rolls,
#roll,
#number-of-rolls-D20,
#roll-D20 #number-of-rolls-D4,
#roll-D4,
#number-of-rolls-D8,
#roll-D8,
#number-of-rolls-D10,
#roll-D10 {
    display: inline;
}

#number-of-rolls,

#number-of-rolls-D20,
#number-of-rolls-D4,

#number-of-rolls-D8,

#number-of-rolls-D10
 {
    @include marPad();
    border: 1px black solid;
}


#roll,

#roll-D20 
#roll-D4,

#roll-D8,

#roll-D10 {
    @include marPad();
    border: 1px black solid;
    @include textColor();
}

